{% extends 'caserne/base.html' %}
{% block content %}
<div class="soldat">
    <h2>{{ character.id_character }}</h2>
    <div class="etat">
        <strong>État du soldat : </strong>{{ character.etat }}
    </div>
    <div class="lieu">
        <strong>Localisation du soldat : </strong>{{ character.lieu }}
    </div>

    <form method="POST">{% csrf_token %}
        <b>Changer localisation :</b>
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Sauvegarder</button>
    </form>
    <a href="{% url 'soldat_list' %}">Retour à la liste</a>
</div>
{% endblock %}