{% extends 'caserne/base.html' %}
{% block content %}
<div class="soldat">
    <h2>{{ soldat.id_character }}</h2>

    <div class="lieu">
        <strong>Localisation actuelle :</strong> {{ soldat.lieu }}
    </div>
</div>

{% if message %}
<div class="alert alert-danger" role="alert">
    {{ message }}
</div>
{% endif %}

<form method="POST" class="post-form">
    {% csrf_token %}
    <b>Changer de lieu :</b> {{ form.as_ul }}
    <button type="submit" class="btn btn-primary">Valider</button>
    <a href="{% url 'soldat_list' %}" class="btn btn-secondary">Retour</a>
</form>
{% endblock %}